@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>En esta aplicación desarrollada en .NET, vamos a crear un sistema por capas que permite agregar,
        modificar, consultar y eliminar usuarios.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Index">Comenzar</a>
</div>
